<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem()" [formGroup]="shoppingForm">
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>

          <input
            type="number"
            class="form-control"
            formControlName="amount"
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn me-2 btn-success"
            type="submit"
            [disabled]="!shoppingForm.valid"
          >
            {{ isEditing ? "Update" : "Add" }}
          </button>
          <button
            class="btn me-2 btn-danger"
            type="button"
            *ngIf="isEditing"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="btn me-2 btn-primary"
            type="button"
            (click)="onFormReset()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
